<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
		<script type="text/javascript" src="./js/vue.js"></script>
		<script type="text/javascript" src="./js/jquery.js"></script>
		<script type="text/javascript" src="./js/bootstrap.js"></script>
		<script type="text/javascript" src="http://cdn.bootcss.com/echarts/3.2.3/echarts.common.js"></script>
		<style type="text/css">
			
			.length-of-days {
				display: inline-block;
			}
			.length-of-days i {
				display: inline-block;
				width: 33px;
				height: 33px;
				line-height: 33px;
				border-radius: 3px;
				background: #aaa;
				float: left;
				margin: 0 10px 10px 0;
				text-align: center;
				color: #eee;
				cursor: pointer;
			}
			.length-of-days i:hover {
				background: #888;
			}
			.length-of-days i.act {
				background: orange;
			}

			.form-control {
				display: initial;
				width: 100px;
				height: initial;
				/*border-radius: 0px;
				padding: 2px 10px;*/
			}

			.history-list .history-item {
				display: inline-block;
				float: left;
				border-radius: 3px;
				background: #90a4ae;
				color: white;
				padding: 10px;
				margin: 0 10px 10px 0;
			}

			.total-text { 
				border: 0px;
				border-bottom: 1px solid #aaa;
				outline: none;
			}
			.nav-pills > li {
				margin: 0 10px 10px 0;
			}

		</style>
	</head>

		<div class="container">
			<h3>
				<span>Total: </span>
				<span v-text="amountTotal" ></span>
			</h3>
			<ul class="list-inline">
				<li>
					<span>Usable: </span>
					<b v-text="getAmountAvailable()"></b>
				</li>
				<li>
					<span>Input: </span>
					<b v-text="getTotalInvestmentAmount()"></b>
				</li>
				<li>
					<span>Income: </span>
					<b v-text="amountIncome"></b>
				</li>
				<li>
					<span>Days: </span>
					<b v-text="dateLength"></b>
					<!-- <small><i v-text="'(' + getInt(days/22) + 'M.)'"></i></small> -->
				</li>
			</ul>
			<hr>

			<div class="alert" :class="{ 'alert-success': !trends, 'alert-danger': trends }" role="alert">
				<ul class="list-inline">
					<li><b>002469</b></li>
					<li><span>Chowns</span></li>
					<li>
						<i v-text="priceCurrent"></i>
						<!-- <i v-text="'(' + yield + ')'"></i> -->
					</li>
				</ul>
			</div>
			<hr />

			<div>
				<h3>Date</h3>
				<div class="length-of-days" >
					<i v-for="key in 6" v-text="key" v-bind:class="{ 'act' :key <= dateAdd }" @click="dateAdd = key" ></i>
				</div>
				<form @submit.prevent="setDateAndPrice">
					<div class="form-group">
						<input type="text" v-model="priceSet" placeholder="price set" class="form-control" />
						<span class="pull-right">
							<input class="btn btn-default" type="button" value="-" style="width: 62px;"
								@click="setValue('priceSet', -0.01)"
								@mousedown="setLastStart('priceSet', -0.01)" 
								@mouseup="setLastEnd" />
							<input class="btn btn-default" type="button" value="+" style="width: 62px;" 
								@click="setValue('priceSet', 0.01)" 
								@mousedown="setLastStart('priceSet', 0.01)" 
								@mouseup="setLastEnd" />
							<input class="btn btn-default" type="submit" value="Update" />
						</span>
					</div>
				</form>
				<hr/>
			</div>

			<div>
				<h3>Buy</h3>
				<form class="form" @submit.prevent="setBuy">
					<div class="form-group">
						<input v-model="quantityBuy" placeholder="quantity buy" class="form-control" />
						<span class="pull-right">
							<input class="btn btn-default" type="button" value="50%" @click="setQuantityBuy(0.5)" />
							<input class="btn btn-default" type="button" value="100%" @click="setQuantityBuy(1)" />
							<input class="btn btn-default" type="submit" value="Buy" />
						</span>
					</div>
				</form>
			</div>
			<hr/>

			<div v-if="getTotalInvestmentAmount()">
				<h3>Transaction</h3>
				<div v-for="item in holdingRecordList" v-if="item.buyTotal > item.soldTotal" class="alert alert-warning" role="alert" >
					<ul class="list-inline">
						<li>
							<b v-text="item.buyPrice"></b>
						</li>
						<li class="pull-right">
							<a href="javascript:;" @click="setEntrustToggle(item)" >Entrust</a>
							<a href="javascript:;" @click="setSoldToggle(item)" v-if="item.buyDate < dateLength" >&nbsp;&nbsp;&nbsp;Sold</a>
						</li>
					</ul>
					<ul class="list-inline">
						<li title="Current income">
							<span>CI=</span>
							<small v-text="getCurrentIncome(item)"></small>
							<small v-text="'(' + getCurrentYield(item) + ')'"></small>
						</li>
						<li title="Holding quantity">
							<span>HQ=</span>
							<small v-text="item.buyTotal - item.soldTotal"></small>
						</li>
					</ul>

					<div v-for="entrust in item.entrustLog" >
						<hr/>
						<ul class="list-inline">
							<li>
								<b>E.</b>
								<small v-text="entrust.entrustPrice"></small>
							</li>
							<li class="pull-right">
								<a href="javascript:;" @click="setCancelEntrust(item, entrust)" >Cancel</a>
							</li>
							<li title="Anticipated revenue">
								<span>AR=</span>
								<small v-text="getEntrustIncome(item, entrust)"></small>
								<!-- <small v-text="'(' + getEntrustYield(item, entrust) + ')'"></small> -->
							</li>
							<li title="Entrust quantity">
								<span>EQ=</span>
								<small v-text="entrust.entrustQuantity"></small>
							</li>
						</ul>
					</div>

					<div v-if="selectEntrust && item.buyPrice == selectEntrust.buyPrice">
						<hr/>
						<h3>Entrust</h3>
						<form class="form-horizontal" @submit.prevent="setEntrust">
							<div class="form-group row" >
								<label class="col-sm-4 control-label">
									<span>Entrust price - </span>
									<small title="Recommended price" v-text="'RP'+ getSuggestedPrice(item)"></small>
									<small v-text="'('+ getSuggestedPoints(item) +'+)'"></small>
								</label>
								<div class="col-sm-8">
									<input v-model="entrustPrice" placeholder="price" class="form-control" disabled="true" />
									<span class="pull-right">
										<input class="btn btn-default" type="button" value="x1" @click="setSuggestedPoints(item)"/>
										<input class="btn btn-default" type="button" value="x2" @click="setSuggestedPoints(item, 2)"/>
									</span>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="form-group row" >
								<label class="col-sm-4 control-label">Entrust number</label>
								<div class="col-sm-8">
									<input v-model="entrustNumber" placeholder="number" class="form-control" disabled="true" />*100
									<span class="pull-right">
										<input class="btn btn-default" type="button" value="50%" @click="setSuggestedNumber(item, 0.5)"/>
										<input class="btn btn-default" type="button" value="100%" @click="setSuggestedNumber(item)"/>
									</span>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="form-group row" >
								<div class="col-sm-12">
									<span class="pull-right">
										<input class="btn btn-default" type="button" value="Close" @click="entrust = null"/>
										<input class="btn btn-success" type="submit" value="Entrust" />
									</span>
									<div class="clearfix"></div>
								</div>
							</div>
						</form>
					</div>

					<div v-if="selectSale && item.key == selectSale.key">
						<hr/>
						<h3>Sold</h3>
						<form class="form-horizontal" @submit.prevent="setSold">
							<div class="form-group row" >
								<label class="col-sm-4 control-label">
									<span>Sell quantity</span>
								</label>
								<div class="col-sm-8">
									<input v-model="quantitySell" placeholder="quantity sell" class="form-control" disabled="true" />
									<span class="pull-right">
										<input class="btn btn-default" type="button" value="50%" @click="setQuantitySale(0.5)"/>
										<input class="btn btn-default" type="button" value="100%" @click="setQuantitySale()"/>
									</span>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="form-group row" >
								<div class="col-sm-12">
									<span class="pull-right">
										<input class="btn btn-default" type="button" value="Close" @click="selectSale = null"/>
										<input class="btn btn-success" type="submit" value="Sold" />
									</span>
									<div class="clearfix"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div>
				<h3>Statistics</h3>
				<ul class="list-inline">
					<li>
						<small>Day rate of return(Clean): </small>
						<b :class="{'text-danger': getDayRateReturn() > ( entrustYield * 100 ), 'text-success': getDayRateReturn() <= ( entrustYield * 100 ) }" v-text="getDayRateReturn() + '%'"></b>
					</li>
					<li>
						<small>Total Income ratio: </small>
						<b v-text="getTotalIncomeRatio() + '%'"></b>
					</li>
					<!-- <li>
						<small>Total profit(Clean): </small>
						<b v-text=""></b>
					</li>
					<li>
						<small>Total loss(Clean): </small>
						<b v-text=""></b>
					</li> -->
				</ul>
			    <div id="echartsEl" style="width: 100%;height:300px;"></div>
				<hr/>
			</div>

			<div v-if="getAllSoldLog().length > 0">
				<h3>History(Clean)</h3>
				<div class="history-list">
					<ul class="nav nav-pills" role="tablist">
						<li role="presentation" class="active" v-for="(index, item) in getAllSoldLog()">
							<a href="#">
								<span v-text="item.soldDate"></span>
								<span class="badge" v-text="(item.soldIncome > 0 ? '+' : '') + item.soldIncome"></span>
								<span v-text="item.soldPrice"></span>
							</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<hr/>
			</div>

			<div>
				<h3>Seting</h3>
				<template v-if="intercalate">
					<p>
						<span>setting usable: </span>
						<span v-text="usable"></span>
						<span class="pull-right">
							<a href="javascript:;" @click="usable+=1000" >+1000</a>
							<a href="javascript:;" @click="usable+=5000" >+5000</a>
							<a href="javascript:;" @click="usable-=1000">-1000</a>
							<a href="javascript:;" @click="usable-=5000">-5000</a>
						</span>
					</p>
					<p>
						<span>auto imitate: </span>
						<span class="pull-right">
							<a href="javascript:;" @click="setImitate" >gooo</a>
						</span>
					</p>
				</template>
				<p>
					<b><a href="javascript:;" @click="intercalate = !intercalate" >Set toggle</a></b>
				</p>
				<hr/>
			</div>

			<!-- <div class="">
				<h3>Requirement</h3>
				<p>1、显示每个月的收益率，以及收益总额。</p>
				<p>2、设置每个月的标准是22%的收益率，以及为了满足月。</p>
				<p>3、记录每个月的收益率到“简单数据”中，进行一年的模拟操作，推算出1一年中1%收益的年份的占比。如果大于则说明这个计划成立，如果小于则可以降低每月的收益率，因为如果按照1%的月收益率半年就可以获得500%。</p>

				<p>4、得出一个根据买入价和手续费得出1%净收益的卖出价的一个公式函数。</p>
				<p>5、尽快得出一个月的正常情况下的22天中的目标收益率的占比，进行至少12个月的模拟测试得出数据。在得出了月内目标收益率的占比后，需要根据占比重新计算日净收益率，始终确保月净收益率为22%。</p>

				<p>举例：如果一个月按照正常的22天计算，月目标收益占比为70%，那么如收益率则需要达到1.3%。公式：
					for(var a=10000,x=0.013,i=1;i<=12*(22*(0.7));i++){ a=a+a*x;console.log(a,a*x) }
				</p>

				<p>6、交易采用当天下午收盘时卖，然后根据情况再立即买。在现实操作中可以在休息是看盘到达预计净收益即可卖出，在此一定要确保，每天都在进行买入和卖出的操作。因此不管是早上卖出和买入都是可以的。</p>

				<p>7、真实情况下，对每天的收益额，每月的收益额，以及对应的收益率进行记录，包括总金额。公司可以自己做，为了以目标为导向有一个明确的系统。只要确保在计划的时间点完成了目标即可，要求不多不少。</p>
			</div> -->

		</div>

		<script type="text/javascript">

			/*

			需要的数据包括：
				
				记录数据：
					交易历史数据，
					日期变化数据，

				动态数据：
					总金额值，
					总收亏值，
					当前价格值，

				独立数据集
					委托控件数据值，
					卖出控件数据值，


			方法分类：

				委托类，
				交易类，
				统计类，
				日期类，
				记录类，

				公共类，


			*/

			new Vue({
				el: 'body',
				data: {

					// 启动资金
					initialCapital: 1000,

					// 交易历史数据集合
					holdingRecordList: [],
					buyLogList: [],
					soldLogList: [],

					// 日期变化数据集合
					dateList: [],

					// 日期数值
					dateLength: 1,
					dateAdd: 1,

					// 金额数值
					amountTotal: 0,
					amountIncome: 0,
					amountChange: 0,

					// 交易控件数据值
					priceCurrent: 8.39,
					priceSet: 8.39,
					
					// 交易控件数据值 - 数量
					quantityBuy: 0,
					quantitySell: 0,
					// quantityHolding: 0,
					
					// 交易控件数据值 - 选中交易
					selectSale: null,
					selectEntrust: null,

					// 委托控件数据值
					entrustYield: 0.014,
					entrustPrice: 0,
					entrustNumber: 0, 

				},
				watch: {

					// 监测价格
					priceCurrent: function ( value ) {
						var self = this;

						// 委托管理
						this.holdingRecordList.map(function( item ){
							item.entrustLog.map(function( entrust ){
								self.setEntrustSale(item, entrust);
							});
						});
					},

					// 监听资金变更状态
					amountIncome: function () {

						// 更新当天信息
						this.setUpdateDateInfo()

						// 更新统计图
						this.setUpdateCartogram();
					}
				},
				methods: {



					/*******************************
					*  委托类
					**/

					// 打开委托界面
					setEntrustToggle: function ( item ) {
						this.selectSale = null;

						if ( this.selectEntrust == null ) {
							this.selectEntrust = item;
							this.entrustNumber = item.buyTotal;
							this.entrustPrice = this.getSuggestedPrice(item);
						}
						else {
							this.selectEntrust = null;
						}
					},

					// 确认委托
					setEntrust: function () {
						var self = this;
						var exitsEntrust = true;

						this.selectEntrust.entrustLog.map(function( item ){
							if ( item.soldPrice == self.entrustPrice && item.soldDate == self.dateLength ) {
								item.soldQuantity += self.entrustNumber;
								exitsEntrust = false;
							}
						});

						if ( exitsEntrust ) {
							this.setEntrustLog(this.selectEntrust);
						}

						this.selectEntrust.entrustTotal += this.entrustNumber;
						this.selectEntrust = null;
					},

					// 卖出委托
					setEntrustSale: function ( item, entrust ) {
						if ( entrust.entrustPrice <= this.priceCurrent && entrust.entrustDate < this.dateLength ) {
							this.setSoldPositionLog(item, entrust.entrustPrice, entrust.entrustQuantity);
							item.entrustTotal -= entrust.entrustNumber;
							item.entrustLog.$remove(entrust);
						}
					},

					// 取消委托
					setCancelEntrust: function ( item, entrust ) {
						item.entrustTotal -= entrust.entrustQuantity;
						item.entrustLog.$remove(entrust);
					},

					// 获取建议价
					getSuggestedPrice: function ( item ) {
						return Number((item.buyPrice + item.buyPrice * this.entrustYield ).toFixed(2));
					},

					// 获取建议差价点数
					getSuggestedPoints: function ( item ) {
						return parseInt( item.buyPrice * this.entrustYield * 100 );
					},

					// 设置建议差价点数
					setSuggestedPoints: function ( item, value ) {
						this.entrustPrice = (Number(item.buyPrice) + (this.getSuggestedPoints(item) * ( value || 1 ) / 100)).toFixed(2);
					},

					// 获取单笔委托的收益（不计手续费）
					getEntrustIncome: function ( item, entrust ) {
						return ((entrust.entrustPrice - item.buyPrice) * item.buyPrice * 100).toFixed(2);
					},

					// 获取单笔委托的收益率（不计手续费）
					getEntrustYield: function ( item, entrust ) {
						return ((entrust.entrustPrice - item.buyPrice) / item.buyPrice * 100).toFixed(2) + '%';
					},

					// 设置建议数量
					setSuggestedNumber: function ( item, value ) {
						this.entrustNumber = item.buyTotal * ( value || 1 );
					},



					/*******************************
					*  交易类
					**/

					// 设置购买数量
					setQuantityBuy: function ( value ) {
						var result = parseInt(this.getAmountAvailable() / ( this.priceCurrent * 100 )) * 100 * ( value || 1 );

						if ( result < 100 ) {
							result = 100;
						}

						this.quantityBuy = result;
					},

					// 买入
					setBuy: function(){
						var buyAmountTotal = this.quantityBuy * this.priceCurrent;

						// 确保有交易金额，并且小于等于可用金额
						if ( buyAmountTotal > 0 && buyAmountTotal <= this.getAmountAvailable() ) {
							var item = this.getTodayLog();

							// 如果已经有仓，则加仓
							if ( item ) {
								item.buyTotal += this.quantityBuy;
							}

							// 负责建仓
							else {
								this.setTakePositionLog(this.priceCurrent, this.quantityBuy);
							}

							this.setQuantityBuy();
						}
					},

					// 卖出界面
					setSoldToggle: function ( item ) {
						this.selectEntrust = null;

						if ( this.selectSale == null ) {
							this.selectSale = item;
							this.quantitySell = item.buyTotal - item.soldTotal;
						}
						else {
							this.selectSale = null;	
						}
					},

					// 卖出
					setSold: function () {
						this.setSoldPositionLog(this.selectSale, this.priceCurrent, this.quantitySell);
						this.selectSale = null;
					},

					// 賣出设置数量
					setQuantitySale: function ( value ) {
						this.quantitySell = (this.selectSale.buyTotal - this.selectSale.soldTotal) * ( value || 1 );
					},

					// 价格变动情况
					getPriceChanges: function () {
						return this.dateList.length > 0 && this.dateList[0].price > this.priceCurrent;
					},

					// 获取当前价格的收益金额（不计手续费）
					getCurrentIncome: function ( item ) {
						return parseInt((this.priceCurrent - item.buyPrice) * item.buyTotal);
					},

					// 获取当前价格的收益率（不计手续费）
					getCurrentYield : function ( item ) {
						return ((this.priceCurrent - item.buyPrice) * item.buyPrice).toFixed(2) + '%';
					},

					// 获取净收益总额（去除手续费）
					getCleanIncome: function ( buy=1, sold=10, number=1 ) {
						var income = (sold - buy) * number,
							stamps = sold * number * 0.001, 
							poundage = (Math.max(buy * 0.002, 5)) + (Math.max(buy * 0.002, 5));

						return Number((income - stamps - poundage).toFixed(2));
					},



					/*******************************
					*  日期类
					**/

					// 设置日期以及价格
					setDateAndPrice: function () {
						this.priceCurrent = Number(this.priceSet);

						// 更新当天价格
						if ( this.dateList.length > 0 && this.dateAdd == 0 ) {
							this.dateList[0].price = this.priceSet;
						}

						// 更新日期并添加日期记录
						else {
							this.dateLength += this.dateAdd;
							this.dateList.unshift({
								'date'	: this.dateLength,
								'price'	: this.priceCurrent,
								'income': this.amountIncome
							});
						}

						// 更新统计资产
						this.setUpdateCartogram();
					},

					// 更新当日日期的数据
					setUpdateDateInfo: function () {
						var today = this.dateList[0];
						
						if ( today ) {
							today.income = this.amountIncome;
							today.price = this.priceCurrent;
						}
					},



					/*******************************
					*  统计类
					**/

					// 投入总金额
					getTotalInvestmentAmount: function () {
						var result = 0;

						this.holdingRecordList.map(function( item ){
							var soldTotal = 0;

							item.soldLog.map(function( sale ){
								soldTotal += sale.soldQuantity;
							});

							result += ( item.buyTotal - soldTotal ) * item.buyPrice;
						});

						return result;
					},

					// 获取可用金额
					getAmountAvailable: function () {
						return Number((this.amountTotal - this.getTotalInvestmentAmount()).toFixed(2));
					},

					// 获取每日平均收益
					getDayRateReturn: function () {
						var self = this,
							result = 0;

						this.holdingRecordList.map(function( item ){
							item.soldLog.map(function( sold ){
								result += self.getCleanIncome(item.buyPrice, sold.soldPrice, sold.soldQuantity);
							});
						});

						return Number(( result / this.dateLength ).toFixed(2));
					},

					// 获取总获盈次数占比
					getTotalIncomeRatio: function () {
						var result = 1,
							total = 1;

						this.holdingRecordList.map(function( item ){
							item.soldLog.map(function( sold ){
								total += 1;
								if ( sold.soldPrice > item.buyPrice ) {
									result += 1;
								}
							});
						});

						return Number(( result / total * 100 ).toFixed(2));
					},

					// 显示统计图
					setCartogram: function () {
						var self = this;

						// 基于准备好的dom，初始化echarts实例
						this.myChart = echarts.init(document.getElementById('echartsEl'));

						// window.w = $('echartsEl').width();
						// $(window).resize(function(){
						// 	if ( window.w + 100 < $('echartsEl').width() || window.w - 100 < $('echartsEl').width() ) {
						// 		clearTimeout(window.c);
						// 		window.c=setTimeout(function(){
						// 			self.setCartogram();
						// 			self.setUpdateCartogram();
						// 		}, 500);
						// 	}
						// });

						// 指定图表的配置项和数据
						var option = {
								title: {
									text: ''
								},
								tooltip: {},
								legend: {
									show: false,
									data: ['Total']
								},
								xAxis: {
									data: []
								},
								yAxis: {},
								series: [{
									name: 'Total',
									type: 'line',
									data: []
								}]
							};

						// 使用刚指定的配置项和数据显示图表。
						this.myChart.setOption(option);
					},

					// 更新资产统计图
					setUpdateCartogram: function () {
						var keys = [1],
							values = [0],
							data = Object.assign([], this.dateList).reverse();

						var self = this;

						data.map(function( item ){
							keys.push(item.date);
							values.push(item.income);
						});

						this.myChart.setOption({
							xAxis: {
								data: keys
							},
							series: [{
								name: 'Total',
								data: values
							}]
						});
					},



					/*******************************
					*  记录类
					**/

					// 查询当天是否有同价位的仓
					getTodayLog: function () {
						var self = this,
							result = null;

						this.holdingRecordList.map(function( item ){
							if ( item.buyDate == self.dateLength && item.buyPrice == self.priceCurrent ) {
								result = item;
							}
						});

						return result;
					},

					// 设置卖出记录
					setSoldPositionLog: function ( item, price, number ) {
						item.soldTotal += number;
						item.soldLog.push({
							soldDate: this.dateLength,
							soldPrice: price,
							soldQuantity: number,
						});

						var income = this.getCleanIncome(item.buyPrice, price, number);

						// 收益
						this.amountTotal += income;
						this.amountIncome += income;
					},

					// 设置委托记录
					setEntrustLog: function ( item ) {
						item.entrustLog.push({
							entrustDate: this.dateLength,
							entrustPrice: this.entrustPrice,
							entrustQuantity: this.entrustNumber
						});
					},

					// 设置建仓记录
					setTakePositionLog: function ( price, number ) {
						if ( number && price ) {
							this.holdingRecordList.push({
								buyDate: this.dateLength,
								buyTotal: number,
								buyPrice: price,

								soldTotal: 0,
								soldLog: [],
								// soldQuantity: 0,
								// soldDate: 0,
								// soldPrice: 0,

								entrustTotal: 0,
								entrustLog: [],
								// entrustQuantity: 0,
								// entrustDate: 0,
								// entrustPrice: 0,
							});
						}
					},

					// 获取全部卖出记录
					getAllSoldLog: function () {
						var self = this,
							result = [];

						this.holdingRecordList.map(function( item ){
							item.soldLog.map(function( sold ){
								result.push({
									buyPrice: item.buyPrice,
									soldDate: sold.soldDate,
									soldPrice: sold.soldPrice,
									soldQuantity: sold.soldQuantity,

									soldIncome: self.getCleanIncome(item.buyPrice, sold.soldPrice, sold.soldQuantity)
								});
							});
						});

						return result;
					},

					// 建平仓记录
					// setTransactionRecord: function ( type, param ) {
					// 	this[ type == 'B' ? 'buyLogList' : 'soldLogList' ].push({
					// 		'key'	: new Date().getTime().toString(16),
					// 		'date'	: this.dateLength,
					// 		'number': param.number,
					// 		'buyPrice'	: param.buyPrice,
					// 		'soldPrice'	: ( param.soldPrice || 0 )
					// 	});
					// },

					// 加减仓，返回是否需要建仓或平仓
					// setChangePosition: function ( type, param ) {
					// 	var result = true;

					// 	this[ type == 'B' ? 'buyLogList' : 'soldLogList' ].map(function( item ){
					// 		if ( item.date == self.dateLength && item.price == param.price ) {
					// 			item.number += param.number;
					// 			result = false;
					// 		}
					// 	});

					// 	return result;
					// },

					// 买入记录交易
					// setBuyLog: function ( param ) {
					// 	param.buyPrice = param.price;

					// 	if ( this.setChangePosition( 'B', param ) ) {
					// 		this.setTransactionRecord( 'B', param );
					// 	}
					// },

					// 卖出记录交易
					// setSoldLog: function ( param ) {
					// 	param.soldPrice = param.price;

					// 	if ( this.setChangePosition( 'S', param ) ) {
					// 		this.setTransactionRecord( 'S', param );
					// 	}
					// },



					/*******************************
					*  公共类
					**/

					// 设置值添加
					setValue: function ( key, value ) {
						this[key] = Number((Number(this[key]) + value).toFixed(2));
					},

					// 设置自动值变更
					setLastStart: function ( key, value ) {
						var self = this;

						clearTimeout(window.t);
						window.t = setTimeout(function(){
							self.setLastStart( key, value );
							self.setValue( key, value );
						}, window.t ? 150 : 500);
					},

					// 停止自动值变更
					setLastEnd: function () {
						clearTimeout(window.t);
					},



























					/*

					// 买入
					setBuy: function () {
						var number = (parseInt(this.number) || 0 ) * 100,
							money = number * this.market.price;

						if ( this.usable >= money && money ) {
							this.usable = Number((this.usable - money).toFixed(2));
							this.market.hold += number;
							this.setBuyLog(number);

							this.number = 1;
						}
					},

					// 卖出
					setSold: function () {
						var b = this.sold.price,
							s = this.market.price,
							n = this.offtake;

						var number = n * 100;

						this.income = Number((this.income + this.getIncome(b,s,n)).toFixed(2));
						this.usable = Number((this.usable + this.getIncome(b,s,n,true)).toFixed(2));

						// 如果平仓 
						if ( this.sold.number == number ) {
							this.sold.have = false;
						}

						// 减仓
						this.market.hold -= number;
						this.sold.number -= number;

						// 记录
						this.setSoldLog(b, s, n*100);

						// 初始化
						this.sold = null;
						this.offtake = 0;
					},

					// 卖出委托
					setSoldEntrust: function ( item ) {
						var b = item.sold.price,
							s = item.price,
							n = item.offtake;

						this.income = Number((this.income + this.getIncome(b,s,n)).toFixed(2));
						this.usable = Number((this.usable + this.getIncome(b,s,n,true)).toFixed(2));

						// 如果平仓 
						if ( item.sold.number == 0 ) {
							item.sold.have = false;
						}

						// 记录
						this.setSoldLog(b, s, n*100);
					},

					// 添加购买交易记录
					setBuyLog: function ( number ) {
						var isOpen = true,
							self = this;

						this.business.map(function( item ){
							if ( item.price == self.market.price && item.days == self.days && item.type == 'B' ) {
								item.number += number;
								isOpen = false;
							}
						});

						// 是否开仓
						if ( isOpen ) {
							this.business.push({
								'type'	: 'B',
								'key'	: new Date().getTime().toString(16),
								'have'	: true,
								'number': number,
								'price'	: this.market.price,
								'sell'	: 0,
								'days'	: this.days
							});
						}
					},

					// 添加卖出记录
					setSoldLog: function ( buyPrice, soldPrice, soldNumber ) {
						var isNew = true,
							self = this;

						this.business.map(function( item ){
							if ( item.days == self.days && item.type == 'S' ) {
								item.number += soldNumber;
								isNew = false;
							}
						});

						if ( isNew ) {
							this.business.push({
								'type'	: 'S',
								'key'	: new Date().getTime().toString(16),
								'have'	: false,
								'number': soldNumber,
								'price'	: buyPrice,
								'sell'	: soldPrice,
								'days'	: this.days
							});
						}
					},

					// 收盘定价
					setToday: function () {
						var self = this,
							price = Number(this.price);

						this.previous = this.market.price;

						this.days += this.spend;
						this.market.price = price;

						var isAdd = true;

						this.became.map(function( item ){
							if ( item.days == self.days ) {
								item.price = price;
								isAdd = false;
							}
						});

						if ( isAdd ) {
							this.became.unshift({
								'days'	: this.days,
								'price'	: this.market.price,
								'total'	: this.total,
								'income': this.income
							});
						}

						// 统计资产
						this.updateCartogram();
					},

					// 获取当前持有的收益率（不计手续费）
					getYield : function ( item ) {
						return ((this.market.price - item.price) * item.price).toFixed(2) + '%';
					},

					//获取当前持有的收益（不计手续费）
					getProfit: function ( item ) {
						return parseInt((this.market.price - item.price) * item.number);
					},

					// 获取单笔交易的收益率（不计手续费）
					getSingleYield : function ( item, sell ) {
						return ((item.sell - item.price) * item.price).toFixed(2) + '%';
					},

					// 获取单笔交易的收益（不计手续费）
					getSingleProfit: function ( item ) {
						return parseInt((item.sell - item.price) * item.number);
					},

					// 获取单笔委托的收益率（不计手续费）
					getEntrustYield: function ( item ) {
						return ((item.price - item.sold.price) / item.sold.price * 100).toFixed(2) + '%';
					},

					// 获取单笔委托的收益（不计手续费）
					getEntrustProfit: function ( item ) {
						return ((item.price - item.sold.price) * item.offtake * 100).toFixed(2);
					},

					// 获取单笔净收益率（过滤手续费）
					getCleanYield: function ( item ) {
						return this.getIncome(item.price, item.sell, item.number/100);
					},

					// 获取单笔净收益（过滤手续费）
					getCleanProfit: function ( item ) {
						return this.getIncomeYield(item.price, item.sell, item.number/100);
					},

					// 加庄 减庄
					setAddPrice: function () {
						this.price = (Number(this.price) + 0.01).toFixed(2);
					},
					setSubPrice: function () {
						this.price = (Number(this.price) - 0.01).toFixed(2);
					},

					// 加仓 减仓
					setAddHold: function () {
						this.number = Number(this.number) + 1 > parseInt(this.usable / (this.market.price * 100)) ? Number(this.number) : Number(this.number) + 1;
					},
					setSubHold: function () {
						this.number = Number(this.number) - 1 < 0 ? 0 : Number(this.number) - 1;
					},

					// 加减 卖出 
					setAddOfftake: function () {
						this.offtake = Number(this.offtake) + 1 > this.sold.number / 100 ? this.offtake : Number(this.offtake) + 1;
					},
					setSubOfftake: function () {
						this.offtake = Number(this.offtake) - 1 < 0 ? 0 : Number(this.offtake) - 1;
					},

					// 加减 托管价 
					setAddEntrustPrice: function () {
						this.entrustPrice = (Number(this.entrustPrice) + 0.01).toFixed(2);
					},
					setSubEntrustPrice: function () {
						this.entrustPrice = (Number(this.entrustPrice) - 0.01).toFixed(2);
					},

					// 加减 托管数量
					setAddEntrustNumber: function () {
						this.entrustNumber = Number(this.entrustNumber) + 1 > this.entrust.number / 100 ? this.entrustNumber : Number(this.entrustNumber) + 1;
					},
					setSubEntrustNumber: function () {
						this.entrustNumber = Number(this.entrustNumber) - 1 < 0 ? 0 : Number(this.entrustNumber) - 1;
					},


					// 持续
					setLastStart: function ( key ) {
						var self = this;

						clearTimeout(window.t);
						window.t = setTimeout(function(){
							self.setLastStart(key);
							if ( self[key] ) {
								self[key]();
							}
						}, window.t ? 150 : 500);
					},
					setLastEnd: function () {
						clearTimeout(window.t);
					},

					// 获取净收益总额（去除手续费）
					getIncome: function ( b=1, s=10, n=1, t=false ) {
						if ( n === true ) {
							t = n; n = 1
						};
						return Number(((( s - b ) * 100 * n ) - ( s * 100 * n * 0.001 ) - (Math.max(b * 0.002, 5)) - (Math.max(b * 0.002, 5))).toFixed(2)) + ( t ? ( b * 100 * n ) : 0 );
					},

					// 获取净收益率（去除手续费）
					getIncomeYield: function ( b=1, s=10, n=1, t=false ) {
						if ( n === true ) {
							t = n; n = 1
						};
						var income = Number(((( s - b ) * 100 * n ) - ( s * 100 * n * 0.001 ) - (Math.max(b * 0.002, 5)) - (Math.max(b * 0.002, 5))).toFixed(2)) + ( t ? ( b * 100 * n ) : 0 );

						return Number((income / (b*n*100) * 100).toFixed(2));
					},

					// 获取两位小数
					getFixed: function ( value ) {
						return Number(value || 0).toFixed(2);
					},

					// 取整数
					getInt: function ( value ) {
						return parseInt(value) || 0;
					},

					// 模拟交易
					setImitate: function () {
						var change = parseInt(Math.random()*100)+1 <= 70,			// 几率
							random = Number(Number( (Math.random()*10).toFixed(2) / 100 )).toFixed(2);

						random = 0.001 + (parseInt((Math.random()*24)) / 1000);

						var value = Number(this.price * random) || 0;

						// 价格
						if ( change ) {
							this.price = (Number(this.price) + value).toFixed(2);
						}
						else {
							this.price = (Number(this.price) - value).toFixed(2);
						}
						this.setToday();

						// 卖出
						if ( this.existOwned ) {
							for ( var i=0, item; item = this.business[i]; i++ ) {
								if ( item.have ) {
									this.offtake = item.number / 100;
									this.sold = item;
									break;
								}
							}
							if ( this.sold ) {
								this.setSold();
							}
						}

						// 存入
						if ( this.business % 22 == 0 ) {
							this.usable += 1000;
						}

						if ( this.imitate < 5 ) {	// 22 * 12

							// 买入
							this.number = this.toplimit;
							this.setBuy();

							this.imitate += 1;
							setTimeout(this.setImitate, 1000);
						}
						else {
							// var self = this;
							// window.annualearnings = this.annualearnings.push(this.usable + this.income);
							// setTimeout(function(){
							// 	self.usable = 10000;
							// 	self.income = 0;
							// 	self.price = 8.58;
							// 	self.business = [];
							// 	self.became = [];
							// 	self.spend = 1;
							// 	self.number = 1;
							// 	self.offtake = 1;
							// 	self.days = 1;
							// 	self.imitate = 0
							// 	self.setImitate();
							// }, 3000);
						}
					},

					// 打开卖出界面
					getSold: function ( item ) {
						this.entrust = null;

						if ( this.sold == null ) {
							this.sold = item;
							this.offtake = item.number /100;
						}
						else {
							this.sold = null;	
						}
					},

					// 打开委托界面
					getEntrust: function ( item ) {
						this.sold = null;

						if ( this.entrust == null ) {
							this.entrust = item;
							this.entrustPrice = this.getSuggestedPrice(item);
							this.entrustNumber = item.number /100;
						}
						else {
							this.entrust = null;
						}
					},

					// 获取建议价
					getSuggestedPrice: function ( item ) {
						return (item.price + item.price * 0.014).toFixed(2);
					},

					// 获取建议差价点数
					getSuggestedPoints: function ( item ) {
						return parseInt(item.price * 0.014 * 100);
					},

					// 设置建议差价点数
					setSuggestedPoints: function ( item, value ) {
						var result = this.getSuggestedPoints(item) * ( value || 1 ) / 100;
						this.entrustPrice = (Number(item.price) + result).toFixed(2);
					},

					// 设置委托
					setEntrust: function () {
						var self = this;
						var exitsEntrust = true;

						this.entrustList.map(function( item ){
							if ( item.price == self.entrustPrice ) {
								item.offtake += parseInt(self.entrustNumber);
								item.status = true;
								exitsEntrust = false;
							}
						});

						if ( exitsEntrust ) {
							this.entrustList.push({
								price: this.entrustPrice,
								offtake: this.entrustNumber,
								sold: this.entrust,
								status: true
							});
						}

						this.entrust.number -= this.entrustNumber * 100;
						this.entrust = null;
					},

					// 显示统计图
					setCartogram: function () {
						var self = this;

						// 基于准备好的dom，初始化echarts实例
						this.myChart = echarts.init(document.getElementById('echartsEl'));

						$(window).resize(function(){
							clearTimeout(window.c);
							window.c=setTimeout(function(){
								self.setCartogram();
								self.updateCartogram();
							}, 500);
						});

						// 指定图表的配置项和数据
						var option = {
								title: {
									text: ''
								},
								tooltip: {},
								legend: {
									show: false,
									data: ['Total']
								},
								xAxis: {
									data: []
								},
								yAxis: {},
								series: [{
									name: 'Total',
									type: 'line',
									data: []
								}]
							};

						// 使用刚指定的配置项和数据显示图表。
						this.myChart.setOption(option);
					},

					// 更新资产统计图
					updateCartogram: function () {
						var keys = [1],
							values = [0],
							data = Object.assign([], this.became).reverse();

						var self = this;

						data.map(function( item ){
							keys.push(item.days);
							values.push(item.income);
						});

						this.myChart.setOption({
							xAxis: {
								data: keys
							},
							series: [{
								name: 'Total',
								data: values
							}]
						});
					}*/
				},
				ready: function () {
					this.amountTotal = this.initialCapital;


				/*	this.price = this.market.price;
					this.previous = this.market.price;*/

					this.setCartogram();
					this.setUpdateCartogram();

					// this.setImitate();
				}
			});


			

			// 获取收益
			// var income = function ( b=1, s=10, n=1, t=false ) {
			// 		if ( n === true ) {
			// 			t = n; n = 1
			// 		};
			// 		return Number(((( s - b ) * 100 * n ) - ( s * 100 * n * 0.001 ) - (Math.max(b * 0.002, 5)) - (Math.max(b * 0.002, 5))).toFixed(2)) + ( t ? ( b * 100 * n ) : 0 );
			// 	};
			// var value = 10000;
			// for ( var i =0; i<12; i++ ) {
			// 	console.log( (i+1) + '月-----------------------');
			// 	console.log( '本金：' + value, '收益：' + parseInt(value*0.3), '总金额：' + (value += parseInt(value * 0.3)) );
			// }

			// 日净收益为1%，每月净收益22%，计算出年净收益率：1000%。
			// for(var a=10000,x=0.22,i=1;i<=12;i++){ a=a+a*x }

		</script>
	</body>
</html>