<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
		<script type="text/javascript" src="./js/vue.js"></script>
		<script type="text/javascript" src="./js/jquery.js"></script>
		<script type="text/javascript" src="./js/bootstrap.js"></script>
		<style type="text/css">
			
			.length-of-days {
				display: inline-block;
			}
			.length-of-days i {
				display: inline-block;
				width: 33px;
				height: 33px;
				line-height: 33px;
				border-radius: 3px;
				background: #aaa;
				float: left;
				margin: 0 10px 10px 0;
				text-align: center;
				color: #eee;
				cursor: pointer;
			}
			.length-of-days i:hover {
				background: #888;
			}
			.length-of-days i.act {
				background: orange;
			}

			.form-control {
				display: initial;
				width: 100px;
				height: initial;
				border-radius: 0px;
				padding: 2px 10px;
			}

		</style>
	</head>
	<body>

		<div class="container">
			<h3>
				<span>Total: </span>
				<span v-text="total"></span>
			</h3>
			<ul class="list-inline">
				<li>
					<span>Income: </span>
					<span v-text="income"></span>
				</li>
				<li>
					<span>Days: </span>
					<span v-text="days"></span>
				</li>
			</ul>
			<hr>

			<div class="alert alert-danger" role="alert">
				<ul class="list-inline">
					<li>
						<b v-text="market.code"></b>
					</li>
					<li>
						<span v-text="market.name"></span>
					</li>
					<li>
						<i v-text="market.price"></i>
					</li>
				</ul>
			</div>
			<hr />

			<div>
				<h3>Spend</h3>
				<div class="length-of-days" >
					<i v-for="key in 10" v-text="key+1"
						v-bind:class="{ 'act' :key < spend }" 
						@click="spend = key+1" >
					</i>
				</div>
				<form @submit.prevent="setToday">
					<div class="form-group">
						<input type="text" v-model="price"  placeholder="price" class="form-control" />
						<input type="button" value="+" @click="setAddPrice" @mousedown="" />
						<input type="button" value="-" @click="setSubPrice" />
						<input type="submit" value="Update" />
					</div>
				</form>
			</div>
			<hr/>

			<div>
				<h3>Buy/Sold</h3>
				<form class="form" @submit.prevent="setBuy">
					<div class="form-group" :class="{'has-error': !canBuy, 'has-success': canBuy }">
						<input v-model="number" placeholder="number" class="form-control" />
						<input type="button" value="+" @click="setAddHold" />
						<input type="button" value="-" @click="setSubHold" />
						<input type="submit" value="Buy" />
					</div>
					<ul class="list-inline">
						<li>
							<span>name: </span>
							<strong v-text="market.name"></strong>
						</li>
						<li>
							<span>price: </span>
							<strong v-text="market.price"></strong>
						</li>
						<li>
							<span>hold: </span>
							<strong v-text="market.hold"></strong>
						</li>
						<!-- <li>
							<span>money: </span>
							<strong v-text="market.hold * market.price"></strong>
						</li> -->
					</ul>
				</form>
			</div>
			<hr/>

			<div>
				<div v-for="item in business" v-if="item.have" class="alert alert-warning" role="alert" >
					<ul class="list-inline">
						<li>
							<small>price: </small>
							<i v-text="item.price"></i>
						</li>
						<li>
							<small>hold: </small>
							<i v-text="item.hold"></i>
						</li>
						<li>
							<small>income: </small>
							<i v-text="getProfit(item)"></i>
						</li>
						<li class="pull-right">
							<a href="javascript:;" @click="setSold(item)" >Sold</a>
						</li>
					</ul>
				</div>
			</div>

		</div>

		<script type="text/javascript">

			new Vue({
				el: 'body',
				data: {
					total: 5000,
					income: 0,
					days: 0,

					market: {
						'code'	: '002469',
						'name'	: 'Chowns',
						'price'	: 8.58,
						'hold'	: 0
					},

					became: [],				// 每日金额变得
					business: [],			// 买入/卖出交易记录

					spend: 1,				// 过去天数
					price: 0,				// 单股的金额变动

					number: 0				// 买入或卖出数量

				},
				computed: {

					// 是否可以购买
					canBuy: function () {
						var number = (parseInt(this.number) || 0 ) * 100;
						return this.total >= number * this.market.price;
					},

				},
				methods: {

					// 买入
					setBuy: function () {
						var number = (parseInt(this.number) || 0 ) * 100,
							money = number * this.market.price;

						if ( this.total >= money ) {
							this.total = Number((this.total - money).toFixed(2));
							this.market.hold += number;
							this.setBecameLog(number);
						}
					},

					// 卖出
					setSold: function ( data ) {
						var b = data.price,
							s = this.market.price,
							n = data.hold/100;

						this.income = Number((this.income + this.getIncome(b,s,n)).toFixed(2));
						this.total = Number((this.total + this.getIncome(b,s,n,true)).toFixed(2));

						this.market.hold -= data.hold;
						data.have = false;
					},

					// setBusinessLog: function ( type ) {
					// 	this.became.push({
					// 		'index'	: this.became.length,
					// 		'price'	: this.market.price,
					// 		'number': this.number,
					// 		'type'	: type,
					// 		'income': 0,
					// 		'date'	: 0,
					// 		'days'	: 0,
					// 	});
					// },

					// 交易添加记录方法
					setBecameLog: function ( number ) {
						var isOpen = true;

						this.business.map(function( item ){
							if ( item.price == this.market.price ) {
								isHave = false;
								item.hold += number;
							}
						});

						// 是否开仓
						if ( isOpen ) {
							this.business.push({
								'price'	: this.market.price,
								'hold'	: number,
								'have'	: true
							});
						}
					},

					setToday: function () {
						var price = Number(this.price);

						if ( this.market.price != price ) {
							this.days += this.spend;
							this.market.price = price;
						}
					},

					// 获取单笔收益
					getProfit: function ( item ) {
						return ((this.market.price - item.price) * item.hold).toFixed(2);
					},

					// 加庄
					setAddPrice: function () {
						this.price = (Number(this.price) + 0.01).toFixed(2);
					},
					setAddPriceLast: function () {
						setTimeout(this.setAddPrice, 100);
					},

					// 减庄
					setSubPrice: function () {
						this.price = (Number(this.price) - 0.01).toFixed(2);
					},

					// 加仓
					setAddHold: function () {
						this.number = Number(this.number) + 1;
					},

					// 减仓
					setSubHold: function () {
						this.number = Number(this.number) - 1;
					},

					// 获取收益
					getIncome: function ( b=1, s=10, n=1, t=false ) {
						if ( n === true ) {
							t = n; n = 1
						};
						return Number(((( s - b ) * 100 * n ) - ( s * 100 * n * 0.001 ) - (Math.max(b * 0.002, 5)) - (Math.max(b * 0.002, 5))).toFixed(2)) + ( t ? ( b * 100 * n ) : 0 );
					}
				},
				ready: function () {
					this.price = this.market.price;
				}
			});

		</script>
	</body>
</html>