<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="./bootstrap.css" />
		<script type="text/javascript" src="./vue.js"></script>
		<script type="text/javascript" src="./jquery.js"></script>
		<script type="text/javascript" src="./bootstrap.js"></script>
		<style type="text/css">
			
			.length-of-days {
				display: inline-block;
			}
			.length-of-days i {
				display: inline-block;
				width: 33px;
				height: 33px;
				line-height: 33px;
				border-radius: 3px;
				background: #aaa;
				float: left;
				margin: 0 10px 10px 0;
				text-align: center;
				color: #eee;
				cursor: pointer;
			}
			.length-of-days i.act {
				background: orange;
			}

			.form-control {
				display: initial;
				width: initial;
				height: initial;
				border-radius: 0px;
				padding: 2px 10px;
			}

		</style>
	</head>
	<body>

		<div class="container">
			<h3>
				<span>Total: </span>
				<span v-text="total"></span>
			</h3>
			<ul class="list-inline">
				<li>
					<span>Income: </span>
					<span v-text="income"></span>
				</li>
				<li>
					<span>Available: </span>
					<span v-text="available"></span>
				</li>
				<li>
					<span>Days: </span>
					<span v-text="days"></span>
				</li>
			</ul>
			<hr>

			<div v-for="market in markets" class="alert alert-danger" role="alert">
				<ul class="list-inline">
					<li>
						<b v-text="market.code"></b>
					</li>
					<li>
						<span v-text="market.name"></span>
					</li>
					<li>
						<i v-text="market.value"></i>
					</li>
					<li class="pull-right">
						<!-- <a href="javascript:;" @click="setPass(market.code)" >Spend</a>&nbsp;| -->
						<a href="javascript:;" @click="setTradable('Buy', market.code)" >Buy</a>
						<a href="javascript:;" @click="setTradable('Sold', market.code)" >Sold</a>
					</li>
				</ul>
			</div>
			<hr>

			<div>
				<div class="length-of-days" >
					<i v-for="key in 10" v-text="key+1" v-bind:class="{ 'act' :key < spend }" @mouseenter="spend = key+1" ></i>
				</div>
				<form @submit.prevent="setToday">
					<input type="text" value="" v-model="price" id="currentValue" placeholder="price" />
					<input type="submit" value="Submit" />
					<input type="button" value="Cancel" />
				</form>
			</div>

			<template v-if="selected">

				<div v-if="selected.type == 'Buy' || selected.type == 'Sold'">
					<h3 v-text="tradable.type"></h3>
					<form class="form" @submit.prevent="setValue">
						<div class="form-group" v-bind:class="{ 'has-error': false, 'has-success': false }">
							<input type="text" value="" v-model="tradable.number" id="tradableNumber" placeholder="number" class="form-control" />
							<input type="submit" value="Submit" />
							<input type="button" value="Cancel" @click="tradable=false" />
						</div>
						<ul class="list-inline">
							<li>
								<span>name: </span>
								<strong v-text="tradable.market.name"></strong>
							</li>
							<li>
								<span>value: </span>
								<strong v-text="tradable.market.value"></strong>
							</li>
							<li>
								<span>hold: </span>
								<strong v-text="tradable.market.hold"></strong>
							</li>
							<li>
								<span>money: </span>
								<strong v-text="tradable.market.hold * tradable.market.value"></strong>
							</li>
						</ul>
					</form>
				</div>

			</template>

		</div>

		<script type="text/javascript">

			new Vue({
				el: 'body',
				data: {
					total: 5000,
					income: 0,
					available: 0,
					days: 0,
					// today: 0,

					logs: [],
					markets: [
						{
							'code'	: '002469',
							'name'	: 'Chowns',
							'value'	: 8.58,
							'hold'	: 0,
							'last'	: 0
						}
					],

					pass: false,
					spend: 0,
					price: 0,

					number: 0,
					tradable: false,

					selected: null
				},
				// computed: {

					// getValidTrading: function () {
					// 	var numberValue = this.tradable.number * this.tradable.market.value,
					// 		holdValue = this.tradable.market.hold * this.tradable.market.value;

					// 	console.log(numberValue, holdValue);
					// },
				// },
				methods: {

					getMarket: function ( code ) {
						return this.markets.filter(function( market ){
							return market.code == code;
						})[0];
					},

					setTradable: function ( type, code ) {
						this.tradable = {
							'type': type,
							'number': 0,
							'market': this.getMarket(code)
						};
					},

					setBuy: function ( code ) {
						if ( this.selected ) {
							var number = (parseInt(this.tradable.number) || 0 ) * 100,
								value = this.tradable.market.value,
								money = number * value;

							var market = this.tradable.market;

							if ( this.total >= money ) {
								this.total -= money;
								market.hold += number;

								this.setLog();
							}
						}
						else {
							this.selected = {
								'type': type,
								'number': 0,
								'market': this.getMarket(code)
							};
						}
					},

					setSold: function (  ) {
						var number = (parseInt(this.tradable.number) || 0 ) * 100,
							value = this.tradable.market.value,
							money = number * value;

						var market = this.tradable.market;

						if ( market.hold >= number ) {
							this.total += money;
							market.hold -= number;

							this.setLog();
						}
					},

					setLog: function () {
						this.logs.push({
							'code'	: this.tradable.market.code,
							'value'	: this.tradable.market.value,
							'type'	: this.tradable.type,
							'number': this.tradable.number,
							'income': 0,
							'date'	: 0,
							'days'	: 0,
						});
					},

					setToday: function () {
						this.days += this.spend;
						this.spend = '0';

						this.pass = false;

						Number(this.price)
					},

					setValue: function () {
						if ( this.tradable.type == 'Buy' ) {
							this.setBuy();
						}
						else {
							this.setSold();
						}
						this.tradable.number = 0;
					},

					setLengthOfDays: function () {},

					setPass: function ( code ) {
						console.log(code);
						if ( this.selected ) {

						}
						else {
							this.selected = {
								'type': 'Pass',
								'number': 0,
								'market': this.getMarket(code)
							};
						}
					}
				}
			});

		</script>
	</body>
</html>