<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="./css/app.css" >
		<script type="text/javascript" src="./js/vue.js"></script>
		<script type="text/javascript" src="./js/jquery.js"></script>
		<script type="text/javascript" src="./js/bootstrap.js"></script>
		<script type="text/javascript" src="http://cdn.bootcss.com/echarts/3.2.3/echarts.common.js"></script>
	</head>
		<div class="container">
			<h3>
				<span>Total: </span>
				<span v-text="total" ></span>
			</h3>
			<ul class="list-inline">
				<li>
					<span>Usable: </span>
					<b v-text="getFixed(usable)"></b>
				</li>
				<li>
					<span>Income: </span>
					<b v-text="getFixed(income)"></b>
					<!-- <small><i v-text="'(' + getFixed(income/usable) + '%)'"></i></small> -->
				</li>
				<li>
					<span>Days: </span>
					<b v-text="days"></b>
					<small><i v-text="'(' + getInt(days/22) + 'M.)'"></i></small>
				</li>
			</ul>
			<hr>

			<div class="alert" :class="{ 'alert-success': !trends, 'alert-danger': trends }" role="alert">
				<ul class="list-inline">
					<li>
						<b v-text="market.code"></b>
					</li>
					<li>
						<span v-text="market.name"></span>
					</li>
					<li>
						<i v-text="getFixed(market.price)"></i>
						<i v-text="'(' + yield + ')'"></i>
					</li>
					<!-- <li class="pull-right">
						<b v-text="market.hold"></b>
					</li> -->
				</ul>
			</div>
			<hr />

			<div>
				<h3>Spend</h3>
				<div class="length-of-days" >
					<i v-for="key in 6" v-text="key"
						v-bind:class="{ 'act' :key <= spend }" 
						@click="spend = key" >
					</i>
				</div>
				<form @submit.prevent="setToday">
					<div class="form-group">
						<input type="text" v-model="price"  placeholder="price" class="form-control" />
						<span class="pull-right">
							<input class="btn btn-default" type="button" value="   +   " 
								@click="setAddPrice" 
								@mousedown="setLastStart('setAddPrice')" 
								@mouseup="setLastEnd" />
							<input class="btn btn-default" type="button" value="   -   " 
								@click="setSubPrice"
								@mousedown="setLastStart('setSubPrice')" 
								@mouseup="setLastEnd" />
							<input class="btn btn-default" type="submit" value="Update" />
						</span>
					</div>
				</form>
			</div>
			<hr/>

			<div>
				<h3>Buy</h3>
				<form class="form" @submit.prevent="setBuy">
					<div class="form-group">
						<input v-model="number" placeholder="number" class="form-control" />
						<span class="pull-right">
							<!-- <input type="button" value="+" @click="setAddHold"
								@mousedown="setLastStart('setAddHold')" 
								@mouseup="setLastEnd"
								@mouseleave="setLastEnd" />
							<input type="button" value="-" @click="setSubHold"
								@mousedown="setLastStart('setSubHold')" 
								@mouseup="setLastEnd"
								@mouseleave="setLastEnd"/> -->
							<input class="btn btn-default" type="button" value="50%" @click="number = getInt(toplimit/2)" />
							<input class="btn btn-default" type="button" value="100%" @click="number = toplimit" />
							<input class="btn btn-default" type="submit" value="Buy" />
						</span>
					</div>
				</form>
			</div>
			<hr/>

			<div v-if="existOwned || entrustOwned">
				<h3>Transaction</h3>
				<div v-for="item in business" v-if="item.have && item.number > 0" class="alert alert-warning" role="alert" >
					<ul class="list-inline">
						<li>
							<b>Hold</b>
							<span v-text="item.price"></span>
						</li>
						<li class="pull-right">
							<a href="javascript:;" @click="getEntrust(item)" >Entrust</a>
							<a href="javascript:;" @click="getSold(item)" v-if="item.days < days" >&nbsp;&nbsp;&nbsp;Sold</a>
						</li>
					</ul>
					<ul class="list-inline">
						<li title="Current income">
							<span>CI=</span>
							<small v-text="getProfit(item)"></small>
							<small v-text="'(' + getYield(item) + ')'"></small>
						</li>
						<li title="Holding quantity ">
							<span>HQ=</span>
							<small v-text="item.number"></small>
						</li>
					</ul>
					<div v-if="entrust && item.key == entrust.key">
						<hr/>
						<h3>Entrust</h3>
						<form class="form-horizontal" @submit.prevent="setEntrust">
							<div class="form-group row" >
								<label class="col-sm-4 control-label">
									<span>Entrust price - </span>
									<small title="Recommended price" v-text="'RP'+ getSuggestedPrice(item)"></small>
									<small v-text="'('+ getSuggestedPoints(item) +'+)'"></small>
								</label>
								<div class="col-sm-8">
									<input v-model="entrustPrice" placeholder="price" class="form-control" disabled="true" />
									<span class="pull-right">
										<!-- <input type="button" value="+" @click="setAddEntrustPrice"
											@mousedown="setLastStart('setAddEntrustPrice')" 
											@mouseup="setLastEnd" />
										<input type="button" value="-" @click="setSubEntrustPrice"
											@mousedown="setLastStart('setSubEntrustPrice')" 
											@mouseup="setLastEnd" /> -->
										<input class="btn btn-default" type="button" value="x1" @click="setSuggestedPoints(item)"/>
										<input class="btn btn-default" type="button" value="x2" @click="setSuggestedPoints(item, 2)"/>
									</span>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="form-group row" >
								<label class="col-sm-4 control-label">Entrust number</label>
								<div class="col-sm-8">
									<input v-model="entrustNumber" placeholder="number" class="form-control" disabled="true" />*100
									<span class="pull-right">
										<!-- <input type="button" value="+" @click="setAddEntrustNumber"
											@mousedown="setLastStart('setAddEntrustNumber')" 
											@mouseup="setLastEnd"
											@mouseleave="setLastEnd" />
										<input type="button" value="-" @click="setSubEntrustNumber"
											@mousedown="setLastStart('setSubEntrustNumber')" 
											@mouseup="setLastEnd"
											@mouseleave="setLastEnd" /> -->
										<input class="btn btn-default" type="button" value="50%" @click="entrustNumber = getInt(entrust.number /200)"/>
										<input class="btn btn-default" type="button" value="100%" @click="entrustNumber = entrust.number /100"/>
									</span>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="form-group row" >
								<div class="col-sm-12">
									<span class="pull-right">
										<input class="btn btn-default" type="button" value="Close" @click="entrust = null"/>
										<input class="btn btn-success" type="submit" value="Entrust" />
									</span>
									<div class="clearfix"></div>
								</div>
							</div>
						</form>
					</div>
					<div v-if="sold && item.key == sold.key">
						<hr/>
						<h3>Sold</h3>
						<form class="form-horizontal" @submit.prevent="setSold">
							<div class="form-group row" >
								<label class="col-sm-4 control-label">
									<span>Sell quantity</span>
								</label>
								<div class="col-sm-8">
									<input v-model="offtake" placeholder="offtake" class="form-control" disabled="true" />*100
									<span class="pull-right">
										<!-- <input type="button" value="+" @click="setAddOfftake"
											@mousedown="setLastStart('setAddOfftake')" 
											@mouseup="setLastEnd"
											@mouseleave="setLastEnd" />
										<input type="button" value="-" @click="setSubOfftake"
											@mousedown="setLastStart('setSubOfftake')" 
											@mouseup="setLastEnd"
											@mouseleave="setLastEnd" /> -->
										<input class="btn btn-default" type="button" value="50%" @click="offtake = sold.number /200"/>
										<input class="btn btn-default" type="button" value="100%" @click="offtake = sold.number /100"/>
									</span>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="form-group row" >
								<div class="col-sm-12">
									<span class="pull-right">
										<input class="btn btn-default" type="button" value="Close" @click="sold = null"/>
										<input class="btn btn-success" type="submit" value="Sold" />
									</span>
									<div class="clearfix"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div v-for="item in entrustList" v-if="item.status" class="alert alert-success" role="alert" >
					<ul class="list-inline">
						<li>
							<b>Entr.</b>
							<span v-text="item.price"></span>
							<small v-text="'('+ item.sold.price +')'"></small>
						</li>
						<li class="pull-right">
							<a href="javascript:;" @click="setCancelEntrust(item)" >Cancel</a>
						</li>
					</ul>
					<ul class="list-inline">
						<li title="Anticipated revenue">
							<span>AR=</span>
							<small v-text="getEntrustProfit(item)"></small>
							<small v-text="'(' + getEntrustYield(item) + ')'"></small>
						</li>
						<li title="Entrust number">
							<span>EN=</span>
							<small v-text="item.offtake * 100"></small>
						</li>
					</ul>
				</div>
				<hr/>
			</div>

			<div v-if="monthYield">
				<h3>Statistics</h3>
				<ul class="list-inline">
					<li>
						<small>Day rate of return(Clean): </small>
						<b v-text="monthYield.dayRateOfReturn"></b>
					</li>
					<li>
						<small>Total Income ratio: </small>
						<b v-text="monthYield.dayIncomeRatio"></b>
					</li>
					<li>
						<small>Total profit(Clean): </small>
						<b v-text="getFixed(totalProfitAndLoss.profit)"></b>
					</li>
					<li>
						<small>Total loss(Clean): </small>
						<b v-text="getFixed(totalProfitAndLoss.loss)"></b>
					</li>
				</ul>
			    <div id="echartsEl" style="width: 100%;height:300px;"></div>
				<hr/>
			</div>

			<div v-if="business.length">
				<h3>History(Clean)</h3>
				<div class="history-list">
					<span class="history-item" v-for="item in business" v-if="$index > business.length - 22" >
						<b v-text="item.days"></b>
						<small v-text="item.type"></small>
						<small v-if="item.type == 'B'" v-text="item.price"></small>
						<template v-if="item.type == 'S'">
							<small v-text="item.sell"></small>
							<span v-text="getCleanYield(item)"></span>
							<!-- <small v-text="'('+ getCleanProfit(item) +'%)'"></small> -->
						</template>
					</span>
				</div>
				<div class="clearfix"></div>
				<hr/>
			</div>

			<div>
				<h3>Seting</h3>
				<template v-if="intercalate">
					<p>
						<span>setting usable: </span>
						<span v-text="usable"></span>
						<span class="pull-right">
							<a href="javascript:;" @click="usable+=1000" >+1000</a>
							<a href="javascript:;" @click="usable+=5000" >+5000</a>
							<a href="javascript:;" @click="usable-=1000">-1000</a>
							<a href="javascript:;" @click="usable-=5000">-5000</a>
						</span>
					</p>
					<p>
						<span>auto imitate: </span>
						<span class="pull-right">
							<a href="javascript:;" @click="setImitate" >gooo</a>
						</span>
					</p>
				</template>
				<p>
					<b><a href="javascript:;" @click="intercalate = !intercalate" >Set toggle</a></b>
				</p>
				<hr/>
			</div>

			<!-- <div class="">
				<h3>Requirement</h3>
				<p>1、显示每个月的收益率，以及收益总额。</p>
				<p>2、设置每个月的标准是22%的收益率，以及为了满足月。</p>
				<p>3、记录每个月的收益率到“简单数据”中，进行一年的模拟操作，推算出1一年中1%收益的年份的占比。如果大于则说明这个计划成立，如果小于则可以降低每月的收益率，因为如果按照1%的月收益率半年就可以获得500%。</p>

				<p>4、得出一个根据买入价和手续费得出1%净收益的卖出价的一个公式函数。</p>
				<p>5、尽快得出一个月的正常情况下的22天中的目标收益率的占比，进行至少12个月的模拟测试得出数据。在得出了月内目标收益率的占比后，需要根据占比重新计算日净收益率，始终确保月净收益率为22%。</p>

				<p>举例：如果一个月按照正常的22天计算，月目标收益占比为70%，那么如收益率则需要达到1.3%。公式：for(var a=10000,x=0.013,i=1;i<=12*(22*(0.7));i++){ a=a+a*x;console.log(a,a*x) }</p>

				<p>6、交易采用当天下午收盘时卖，然后根据情况再立即买。在现实操作中可以在休息是看盘到达预计净收益即可卖出，在此一定要确保，每天都在进行买入和卖出的操作。因此不管是早上卖出和买入都是可以的。</p>

				<p>7、真实情况下，对每天的收益额，每月的收益额，以及对应的收益率进行记录，包括总金额。公司可以自己做，为了以目标为导向有一个明确的系统。只要确保在计划的时间点完成了目标即可，要求不多不少。</p>
			</div> -->

		</div>

		<script type="text/javascript" src="./js/app.js"></script>
	</body>
</html>